# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDE
.vscode/
.vs/
.idea/

# Visual Studio
*.VC.db
*.VC.opendb
*.sln
*.suo
*.opensdf

# Mac / Xcode
*.xcodeproj
*.xcworkspace

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Crash reports
crashinfo--*

# Rider
.idea/

# Python cache (UE tools sometimes generate these)
__pycache__/
*.pyc

Windows/
Builds/
*.pak
*.ucas
*.utoc